body{
    background-color: rgb(45, 71, 105);
    color:rgb(160, 197, 255);
    font-family: "Playfair Display", serif;
    margin: 0px;
}
header{
    font-size: 50px;
    border: double 5px rgb(89, 170, 108);
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
}
h1{
    font-size: 35px;
}
p{
    font-size: 20px;
}

section{
background-color: rgb(56, 52, 105);
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right:10%;

}